.dashboard{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;

}
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}
.navnamesec{
    /* display: flex;
    justify-content: space-between;
    column-gap: 20px */
}
.navnamesec p{
    font-size: 17px;
    font-weight: 900;
}
.active-plus{
    transform: rotateZ(45deg);
    color: red;
   
}
.btn-question{
     transition: .5s ease;
}
@media(max-width:468px){
nav{
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    padding: 0px 20px;
}
.navnamesec p{
     font-size: 14px;
    font-weight: 600;
}

}