.questionWrapper{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.qustionForm{
  width: 400px;
   
    border: 1px solid rgb(230, 88, 88);
    min-height: 200px;padding: 10px;
    box-shadow: 3px 3px 9px rgb(230, 88, 88);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rule{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-question{
    /* background-color: red; */
    display: flex;
    margin-top: 10px;
    column-gap: 3px;
}
.optioninpcls{
    border: none;
    background-color: rgba(243, 130, 130, 0.493);
    padding: 3px 10px;
    border-radius: 10px;
    outline: none;
}
.questionAddBtn{
    align-self: center;
    justify-items: center;
    
}
.questionAddBtn{
    padding: 5px 10px;
    border:2px solid rgba(240, 180, 17, 0.918);
    outline: 2px solid rgb(245, 90, 90);
    border-radius: 20px;
}
@media (max-width:430px) {
    .qustionForm{
        width: 90%;
        margin: 0 auto
    }
    .form-question{
        flex-direction: column;
        row-gap: 20px;
        /* width: 90%; */
    }
    .questionInputContainer{
 display: flex;
 justify-content: center;   
 gap: 10px;
}
/* .form-question input{
    width: 100%;
} */
}
.optionBox{
    display: inline-flex;
    column-gap: 2px;
    margin-top: 2px;
}#questionsShow{
/* background-color: red; */
min-height: 200px;
width: 400px;
margin: 50px auto 0px;
border: 1px solid rgb(230, 88, 88);
border-radius: 10px;
}
#questionsShow .title{
    text-align: center;
    margin-top: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(236, 40, 40);
}
.errorPage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(241, 202, 25, 0.692);
    position: absolute;
    /* transform: translateY(0); */
transform: translateY(-100px); 
transition: transform 0.5s ease, background 0.3s;
}
.errorBox{
    /* min-height: 200px; */
    height: 100px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(230, 67, 67, 0.74);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.errorPage.show { transform: translateY(0); }
@keyframes shu{
    to{
transform: translateY(0);
    }
}
@media (max-width:451px){
    #questionsShow{
        width: 90%;
    }
}
@media (max-width:305px){
    .form-question{
        row-gap: 5px;
    }
     
    .questionInputContainer{
        flex-direction: column;
        gap: 0;
    }
}