.questionWrapper{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qustionForm{
  width: 400px;
   
    border: 1px solid gray;
    min-height: 200px
}
.rule{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:430px) {
    .qustionForm{
        width: 90%;
        margin: 0 auto
    }
}