* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; 
}

.app video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; 
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
}

@media (max-width: 480px) {
  .content {
    padding: 0.5rem;
  }
}

@media (max-width: 200px) {
  .content {
    padding: 0.2rem;
    flex-direction: column; 
  }
}
